<div class="mega-menu">
  <div class="container-fluid p-0">
    <div class="row g-0">
      
      <!-- Main Content Area: Product Categories -->
      <div class="col-lg-9 p-4 main-pane">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" *ngFor="let cat of categories">
            <div class="category-group">
              <h6 class="category-title d-flex align-items-center mb-3">
                <a [routerLink]="cat.link" class="text-decoration-none text-inherit d-flex align-items-center" (click)="onProductClick()">
                  <i class="bi me-2" [ngClass]="cat.icon"></i>
                  {{ cat.title }}
                </a>
              </h6>
              
              <div class="product-list">
                <a 
                  *ngFor="let prod of cat.products" 
                  [routerLink]="prod.link" 
                  class="product-item d-flex align-items-start"
                  (click)="onProductClick()">
                  <div class="prod-icon-wrap">
                    <i class="bi" [ngClass]="prod.icon"></i>
                  </div>
                  <div class="prod-info">
                    <span class="prod-name">{{ prod.title }}</span>
                    <p class="prod-desc">{{ prod.description }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
