<section id="stats" class="stats section light-background">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row" style="justify-content: center;">

      <div class="col-lg-3 col-md-6" style="display:flex; flex-direction:column; align-items:center;">
        <i class="bi bi-emoji-smile"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="250" data-purecounter-duration="1" class="purecounter">250</span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" style="display:flex; flex-direction:column; align-items:center;">
        <i class="bi bi-journal-richtext"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">521</span>
          <p>Projects Completed</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" style="display:flex; flex-direction:column; align-items:center;">
        <i class="bi bi-headset"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter">25</span>
          <p>Years of Experience</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" style="display:flex; flex-direction:column; align-items:center;">
        <i class="bi bi-award"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter">35</span>
          <p>Awards Won</p>
        </div>
      </div>

    </div>
  </div>
</section>
