<div class="mega-menu">
  <div class="container-fluid p-0">
    <div class="row g-0">

      <!-- Main Content Area -->
      <div [class]="featuredImage ? 'col-lg-9 p-4 main-pane' : 'col-12 p-4 main-pane'">
        <h6 class="menu-heading mb-3">{{ heading }}</h6>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" *ngFor="let item of items">
            <a
              [routerLink]="item.link"
              class="menu-item d-flex align-items-start"
              (click)="onItemClick()">
              <div class="item-icon"
                [style.background-color]="item.iconColor ? item.iconColor + '1a' : null"
                [style.color]="item.iconColor || null">
                <i class="bi" [ngClass]="item.icon"></i>
              </div>
              <div class="item-info">
                <span class="item-name">{{ item.title }}</span>
                <p class="item-desc">{{ item.description }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Featured Sidebar (optional) -->
      <div class="col-lg-3 featured-pane" *ngIf="featuredImage">
        <img [src]="featuredImage" alt="Featured" class="img-fluid rounded-3 mb-3" style="width:100%; object-fit:cover;">
        <p class="small text-muted mb-0" style="font-size:11px; line-height:1.5;">{{ featuredCaption }}</p>
      </div>

    </div>
  </div>
</div>
